<h1>Bem vindo, escolha uma opção</h1>
<div>
  <%= notice %>
</div>

<%= link_to noodles_calculate_path, class: 'btn btn-danger' do %>
  <%= 'Tempo de cozimento para Miojo' %>
<% end %>
<br><br>
<%= link_to distances_calculate_path, class: 'btn btn-danger' do %>
  <%= 'Calcular distâncias' %>
<% end %>